<!-- Begin Team List-->
<section id="about-hackathon" class="about-hackathon">
    <div class="content-wrapper">
        <div class="col-md-8 col-md-offset-2">
            <h3>What you need to prepare</h3>
            <span class="text-left animated hiding" data-animation="fadeInUp" data-delay="0">
<p>The morning session is based on the assumption that you bring your own laptop on which you pre-install some software and download the data with which we will work. This page summarises everything you need to know to prepare for the workshop.</p> 

<h5>1. Hardware requirements:</h5>

<ul>
<li>Please ensure your laptop has a minimum of 2Gb of RAM and at least 3Gb of available storage space. </li>

<li>Make sure that you have an updated version of Java - the last version of Java SDK can be downloaded <a href="http://www.oracle.com/technetwork/java/javase/downloads/index.html">HERE</a>. </li>
</ul>

<h5>2. Sofwares requirements:</h5>

<p>Both morning workshops require that you download a total of <b>four files</b>: a corpus sample, a word vector model and two software packages. The software in question does not require installation and can therefore be used without an administrator account on the computer. They work on any operating system.</p>

<p style="margin-left:0.5em">During the entire morning session, we’ll work with a subset of the EC archive corpus, which can be downloaded here:</p>

<ul>
<li> <a href="https://github.com/ulbstic/eurovoc_topicmodeling/raw/master/DATA_EVAL/sample_1000_en.zip">Corpus sample</a>.</li>
</ul>

<h6 style="margin-left:0.5em">For the first hands-on (using topic modelling & word embeddings):</h6>

<ul>
<li><a href="http://mallet.cs.umass.edu/download.php">Mallet</a>.</li>

<li><a href="https://github.com/mmihaltz/word2vec-GoogleNews-vectors">Word2Vec Google News vectors</a>.</li>
</ul>

<h6 style="margin-left:0.5em">For the second hands-on (supervised machine learning):</h6>

<ul>
<li><a href="https://wt-public.emm4u.eu/Resources/Eurovoc/indexing/en-eurovoc-1.0.zip">JEX (JRC Eurovoc Indexer) in English</a>.</li>
</ul>

<p>Once the five files downloaded and unzipped, we recommend to put them in a folder named "workshop" somewhere on your desktop.</p>

</p>
<p>Detailed instructions will be handed out during the workshop for each step of the process, so apart from downloading the softwares and the test data, no other preparation is required.</p>

<p>Support: if you have trouble downloading the softwares and test data, please send a tweet or an email to <a href="https://twitter.com/sethvanhooland">@sethvanhooland</a>.</p>

<h5>3. Skills required</h5>

<p>The tutorials do not require any prior knowledge of computer science or programming.</p>
 
<p>For some of the software tools we will be using the command line, but all of the specific commands will be given and explained.</p> 
 
<p>However, in order to save time, it would be important if you at least <b>know how to open a terminal from a specific folder</b>. In Windows or Linux, <a href="https://www.howtogeek.com/howto/windows-vista/stupid-geek-tricks-open-a-command-prompt-from-the-desktop-right-click-menu/">the operation is very simple</a>.</p>
 
<p><b>If you have a Mac</b>, please enable the "New terminal at folder" option. To do this, go to "<i>System Preferences</i>", then "<i>Keyboard</i>", then "<i>Shortcuts</i>", then "<i>Services</i>", and check the box "<i>Enable New Terminal at Folder</i>". This operation will save you a lot of time in the future.</p>

<h5>4. Download results</h5>

<p>In order for the workshop to run smoothly and to ensure a common base for the group discussions, we are already making available some results based on the test corpus:</p>

<ul>
<li>topic_distribution.csv : this file allows to understand the probability distribution of the topics per document</li>
<li>overview_topics.csv : this file gives an overview of the 250 topics</li>
<li>results_jex.csv : this file gives an overview of the Eurovoc descriptors attached to each document</li>
</ul>
<p>The three files are gathered in a ZIP archive downloadable <a href="https://github.com/ulbstic/eurovoc_topicmodeling/raw/master/DATA_EVAL/results.zip">HERE</a>.<p>

   </span>

       </div>
</section>
<!-- End Team List -->
