<!-- Begin Team List-->
<section id="team" class="team">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>{{ site.teamBlockTitle }}</h3>
            <span class="text-left animated hiding" data-animation="fadeInUp" data-delay="0">
<p>This workshop is organised as a closing event of the MaSTIC research track within the <a href="http://www.belspo.be/belspo/fedra/proj.asp?l=fr&COD=BR/132/A4/HECTOR">HECTOR project</a>, a multi-year project managed by <a href="http://www.crids.eu/">CRIDS (UNamur)</a> and with the <a href="http://arch.arch.be/">Belgian State Archives</a>.</p>

<p>MaSTIC proposes a two-year academic Master in Information Science with a strong focus on both practice and theory. The Master gives access to various professions such as data scientist, functional analyst, document & records manager and projects within the domain of digital humanities. Successful graduates are recruited, often already before the end of the second year, by a diversity of both public and private organisation, from agile start-ups such as <a href="www.thebiotechqualitygroup.com">The Biotech Quality Group</a> to public administrations as <a href="https://www.smals.be">SMALS</a>, or large international organisations such as the <a href="https://ec.europa.eu/">European Commission</a>. The courses are organised after 5 pm and on Saturdays, allowing students to combine the Master with an already active professional life.</p>

<p> In parallel, MaSTIC also is actively involved within a large number of ongoing research projects, such <a href="http://adochs.be/">ADOCHS</a> or <a href="http://www.ugesco.be/">UGESCO</a>, and is preparing new collaborations with a variety of partners from Europe, North and South America.</p>

<p><b>The cartoon on the homepage was created by James Lapping of <a href="https://thinkingrecords.co.uk/">Thinking Records</a>. All other images on the website were labeled for non-commercial reuse.</b></p>


            </span>
        </div>
        <div class="col-lg-10 col-lg-offset-1 text-center">
            <h4 class="text-left animated hiding appear-animation-trigger" data-animation="fadeInUp" data-delay="0">Team</h4>
            {% for teamMember in site.data.team %} {% if teamMember.team != null %}
            <div class="effect-wrapper col-md-4 col-sm-6 col-xs-12 cols-centered appear-animation">
                <div class="zoe-effect" data-toggle="modal" data-target="#speakerDetail-{{ teamMember.id }}">
                    <figure class="waves-effect waves-block waves-light" style="background-image: url({{ site.baseurl | append: '/img/people/' | append: teamMember.thumbnailUrl }})">
                        <div class="overlay solid-overlay"></div>
                        <figcaption>
                            <div class="col-md-8 col-xs-8 text-left">
                                <h2 class="name">{{ teamMember.name }} <span>{{ teamMember.surname }}</span></h2>
                                <div class="clearfix"></div>
                                <span class="position">{{ teamMember.title }}</span>
                            </div>
                            {% for social in teamMember.social %}
                            <a href="{{ social["link"] }}" target="_blank">
                                <svg class="icon icon-{{ social["name"] }}" viewBox="0 0 30 32">
                                    <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-{{ social["name"] }}"></use>
                                </svg>
                            </a>
                            {% endfor %}
                        </figcaption>
                    </figure>
                </div>
            </div>
            {% endif %} {% endfor %}
        </div>
        <div class="col-lg-10 col-lg-offset-1 text-center">
            <h4 class="text-left animated hiding appear-animation-trigger" data-animation="fadeInUp" data-delay="0"></h4>
            {% for teamMember in site.data.team %} {% if teamMember.subTeam != null %}
            <div class="effect-wrapper col-md-4 col-sm-6 col-xs-12 cols-centered appear-animation">
                <div class="zoe-effect" data-toggle="modal" data-target="#speakerDetail-{{ teamMember.id }}">
                    <figure class="waves-effect waves-block waves-light" style="background-image: url({{ site.baseurl | append: '/img/people/' | append: teamMember.thumbnailUrl }})">
                        <div class="overlay solid-overlay"></div>
                        <figcaption>
                            <div class="col-md-8 col-xs-8 text-left">
                                <h2 class="name">{{ teamMember.name }} <span>{{ teamMember.surname }}</span></h2>
                                <div class="clearfix"></div>
                                <span class="position">{{ teamMember.title }}</span>
                            </div>
                            {% for social in teamMember.social %}
                            <a href="{{ social["link"] }}" target="_blank">
                                <svg class="icon icon-{{ social["name"] }}" viewBox="0 0 30 32">
                                    <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-{{ social["name"] }}"></use>
                                </svg>
                            </a>
                            {% endfor %}
                        </figcaption>
                    </figure>
                </div>
            </div>
            {% endif %} {% endfor %}
        </div>
</section>
<!-- End Team List -->
